__pycache__

__tmcache__

TMscore

*.txt

*.pt

*.png

*.pkl

*.svg

*.log

*.pdb

*.ckpt

.vscode
all_data/
prev_results/
results/
new_exp/
lightning_logs/
wandb/
all_structures/
Foldx/
summaries/
checkpoints/
DockQ/
__cache__
train_general.sh
*.ipynb